# Klucze, konfiguracje i poufne dane firm
config.py
ustawienia.json
indeks_faktur.json

# Pliki po kompilacji PyInstallera
build/
dist/
*.spec

# Pobrane faktury i pliki tymczasowe
*.pdf
*.xml
*_temp.xml

# Środowisko wirtualne Pythona
venv/
__pycache__/
*.pyc

# Zależności generatora PDF
node_modules/